@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

:root {
    --editor-content-width: 700px;

    --background-color: #fff;
    --toolbars-background-color: rgba(255, 255, 255, 0.9);
    --toolbars-background-color-opaque: rgba(255, 255, 255, 1);

    --toolbars-border: 3px solid #1e293b;
    --toolbars-color: #1e293b;
    --toolbars-border-radius: 8px;
    
    --color-accent: #2dd4bf;
    --content-color: #1e293b;

    --editor-font-size: 1.75rem;
    --editor-line-height: 2.75rem;

    --readability-hard-color: #d4d4d4;
    --readability-very-hard-color: #fca5a5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  padding-left: calc(100vw - 100%);
}

body {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  background-color: var(--background-color);
  color: #212121;
  /* scrollbar-gutter: stable both-edges; */
  
}

.editor__content {
  background-color: var(--background-color);
  color: var(--content-color);
  padding: 3rem 3rem 3rem 4.5rem;
  min-height: 70vh;
  font-size: var(--editor-font-size);
  line-height: var(--editor-line-height);
}

.editor__content:active,
.editor__content:focus {
  outline: none;
  
}

.editor__content h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 1.5rem 0;
}

.editor__content h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 1.25rem 0;
}

.editor__content h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1rem 0;
}

.editor__content p {
  margin: 1.75rem 0;
}

.readability-hard{
  border-bottom: 2px solid var(--readability-hard-color);
}

.readability-very-hard{
  border-bottom: 2px solid var(--readability-very-hard-color);
}