@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

:root {
    --editor-content-width: 700px;

    --background-color: #fff;
    --toolbars-background-color: rgba(255, 255, 255, 0.9);
    --toolbars-background-color-opaque: rgba(255, 255, 255, 1);

    --toolbars-border: 3px solid #1e293b;
    --toolbars-color: #1e293b;
    --toolbars-border-radius: 8px;
    
    --color-accent: #2dd4bf;
    --content-color: #1e293b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  background-color: var(--background-color);
  color: #212121;
}
